<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - JSO MVC</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top  jsonavbar-brand">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Need to move this into css but Linda.css Will not Listen!-->
                @Html.ActionLink("JSO MVC", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", @style = "color:yellow;" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Add Records
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Officers", "Index", "Officers")</li>
                            <li>@Html.ActionLink("Suspects", "Index", "Suspects")</li>
                            <li>@Html.ActionLink("Crimes", "Index", "Crimes")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Case Manager", "Index", "JsoCaseManagers")</li>
                    <li>@Html.ActionLink("JSO API", "AboutApi", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - JSO MVC</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
